body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 2px;
  background: #d8c4aa
}
::-webkit-scrollbar-thumb {
  background: #6d3200;
  border-radius: 10px;
}

a:link{
  cursor: pointer;
  text-decoration: none;
  
}

.logo-lg {
  z-index: 10;
  height: 170px;
  width: 170px;
  position: absolute;
  top: -15px;
  margin-left: 50%;
  left: -10%;
}

.logo-md {
top: -5px;
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
z-index: 10;
}

#top {
height: 35px;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.jumboltron-text {
  top: 40%;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
}